.wy-nav-content {
    max-width: 1200px !important;
}

.document .toctree-l1 a {
  color: #333131 !important;
}

.document .toctree-l1 a:visited {
  color: #333131 !important;
}

.document .toctree-l1 a:hover {
  color: #388E3C !important;
  text-decoration: underline;
}

.wy-side-nav-search {
  background-color: #7CB342 !important;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #7CB342 !important;
}

.wy-side-nav-search input[type=text] {
  border-color: #7CB342 !important;
}

.wy-nav-top {
  color: #E6EE9C !important;
  background: #7CB342 !important;
}